{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'eMenu/styles/style.css' %}">

<h4><a href="{% url 'index' %}">Go back</a></h4>

<h1>{{ menu.menu_name }}:</h1>
<h4>Published: {{ menu.pub_date|date }}</h4>
<h4>Edited: {{ menu.edit_date|date }}</h4>

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Photo</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Preparation time (minutes)</th>
        <th>Published date</th>
        <th>Edited date</th>
        <th>Is vegetarian</th>
    </tr>
    </thead>
    <tbody>
    {% for dish in object.dishes.all %}
        <tr>

            <td><a href="{{ dish.dish_pic.url }}"> <img src="{{ dish.dish_pic.url }}"></a></td>
            <td>{{ dish.dish_name }}</td>
            <td>{{ dish.dish_description }}</td>
            <td>{{ dish.price }}</td>
            <td>{{ dish.preparation_time }}</td>
            <td>{{ dish.pub_date }}</td>
            <td>{{ dish.edit_date }}</td>
            <td>{{ dish.is_vegetarian }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h2><a href="{% url 'index' %}">Go back</a></h2>
