{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<table class="table table-bordered">
    <thead>
    <tr>
        <th><a href="{% url 'index' %}?ordering=id&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Id</a></th>
        <th><a href="{% url 'index' %}?ordering=menu_name&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Name</a></th>
        <th><a href="{% url 'index' %}?ordering=menu_description&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Description</a></th>
        <th><a href="{% url 'index' %}?ordering=get_dishes_count&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Dishes count</a></th>
    </tr>
  </thead>
  <tbody>
    {% for menu in menus %}
      <tr>
          <td>{{ menu.id }}</td>
          <td><a href="{% url 'detail' menu.id %}">{{ menu.menu_name }}</a></td>
          <td>{{ menu.menu_description}}</td>
          <td>{{ menu.get_dishes_count}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}